.movies {
  @include flex(row, center, baseline);
  flex-wrap: wrap;
  padding-top: 30px;

  &__no-results {
    color: $gray-100;
    font-size: $font-md;
  }

  &__item {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  &--list {
    @include flex(column, center, center);

    .movies__item {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .movies__item {
    width: 33.3%;
  }
}

@media screen and (min-width: 992px) {
  .movies__item {
    width: 25%;
  }
}
